:root {
  --blanco: #e6e6e6;
  --naranja: #ff6600;
  --oscuro: #003366;
  --claro: #336699;
  --gris: #c0c0c0;
  --tamaño_H1: 3.8rem;
  --tamaño_H2: 2.8rem;
  --tamaño_H3: 1.8rem;
  --tamaño_H4: 1.6rem;
  --tamaño_H5: 1.2rem;
  --tamaño_p: 1.6rem;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: fallback; /* Utiliza una fuente de respaldo hasta que se cargue completamente la fuente web */
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: italic;
  font-display: fallback; /* Utiliza una fuente de respaldo hasta que se cargue completamente la fuente web */
}
/* G E N E R A L E S */
html,
body {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* T I P O G R A F Í A */

p {
  font-size: var(--tamaño_p);
}

h1 {
  font-size: var(--tamaño_H1);
  color: var(--blanco);
}

h2 {
  font-size: var(--tamaño_H2);
}

h3 {
  font-size: var(--tamaño_H3);
}

h4 {
  font-size: var(--tamaño_H4);
}

h5 {
  font-size: var(--tamaño_H5);
}

h1,
h2,
h3,
h4,
h5 {
  text-align: center;
  font-weight: bold;
  padding: 2rem;
}

/* C O M U N E S */
#portfolio_s1,
#servicios_s1,
#contacto_s1,
#presupuesto_s1 {
  background-color: var(--claro);
  position: sticky;
  top: 9%;
}

#contenido {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#footer,
#banner_img,
#video_landing video,
#seccion_servicios a img {
  width: 100%;
}

#nosotros_landing_card,
#contacto_disclaimer,
#presupuesto_disclaimer {
  text-align: justify;
}

/* M E N U   D E   N A V E G A C I Ó N */
#menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  padding: 2rem;
  background-color: var(--blanco);
  position: sticky;
  top: 0;
  z-index: 100;
}

#logo {
  max-width: 25rem;
}

#navegacion ul {
  display: flex;
}

#navegacion ul li {
  margin-left: 3rem;
}

#navegacion ul li a {
  color: var(--oscuro);
  text-decoration: none;
  font-size: var(--tamaño_H4);
  font-weight: bold;
  text-transform: uppercase;
    &:hover {
      color: var(--naranja);
    }
}

/* Tablet */
@media screen and (max-width: 768px) {
  #menu {
    flex-direction: column;
    justify-content: center;
  }

  #logo {
    max-width: 25rem;
    padding: 1rem;
  }
}

/* Menú de hamburguesa (versión móvil)*/
.menu-icon {
  display: none;
  font-size: var(--tamaño_H2);
  position: absolute;
}

#menu-toggle {
  display: none;
}

@media screen and (max-width: 480px) {
  .menu-icon {
    display: contents;
  }

  nav#navegacion {
    padding: 0;
  }

  #navegacion ul {
    display: none;
    flex-direction: column;
    text-align: center;
    background-color: var(--blanco);
  }

  #navegacion ul li {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }

  #menu-toggle:checked + .menu-icon + #navegacion ul {
    display: flex;
  }
}

/* F O O T E R */
#footer {
  border-top: 1rem solid;
  border-color: var(--gris);
  box-shadow: 3px 3px 5px 6px #ccc;
  background-color: var(--claro);
  color: var(--blanco);
}

#elementos {
  display: flex;
  padding: 2rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 480px) {
  #elementos {
    flex-direction: column;
  }
}

#elementos section {
  background-color: var(--claro);
  margin-top: 1rem;
}

#elementos section p {
  margin: 10px;
  line-height: 3rem;
}

#footer a {
  text-decoration: none;
  color: var(--blanco);
}

#footer_ico {
  height: 45px;
  width: auto;
  margin: .6rem;
}

#derechos_reservados {
  text-align: center;
  padding-bottom: 2rem;
}

/* *** *** L A N D I N G *** *** */
/* Top banner (landing) */
#banner_img {
  border-top: 1rem solid;
  border-bottom: 1rem solid;
  border-color: var(--gris);
  box-shadow: 3px 3px 5px 6px #ccc;
}

/* Nosotros (landing) */
#nosotros_landing {
  display: grid;
  gap: 5rem;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
  padding: 5rem;
}

#nosotros_landing_card {
  grid-row: 1;
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  color: coral;
  -webkit-text-stroke: thin;
}

#nosotros_landing_card p {
  line-height: 1.4;
  padding: 0.6rem;
}

#video_landing {
  display: flex;
  justify-content: center;
  align-items: center;
}

#video_landing video {
  grid-row: 1;
  grid-column: 2/3;
}

@media screen and (max-width: 768px) {
  #nosotros_landing {
    grid-template-columns: 1fr;
    gap: 2rem;
    padding: 2rem;
  }

  #nosotros_landing_card {
    grid-row: 1;
    width: 85%;
    margin: 0 auto;
  }

  #video_landing video {
    grid-row: 2;
    width: 80%;
  }
}

/* User Experience (Landing) */
#customer_experience {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

figure.user_card {
  margin: 2rem;
  width: 23%;
  text-align: center;
  font-size: var(--tamaño_p);
  background-color: var(--oscuro);
  padding: 3rem;
  border-radius: 1%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  background-image: linear-gradient(
    -25deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

figure.user_card h2 {
  color: var(--blanco);
}

figure.user_card blockquote {
  font-size: var(--tamaño_p);
  padding: 45px 20px 40px 50px;
  margin-top: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: inset -1.4px -1.4px 2px rgba(0, 0, 0, 0.3);
  text-align: left;
  position: relative;
}

figure.user_card blockquote:before {
  content: "\201C";
  position: absolute;
  font-size: 7rem;
  opacity: 0.25;
  top: 0px;
  left: 20px;
}

figure.user_card .profile {
  width: 10rem;
  border-radius: 50%;
  display: inline-block;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.4);
  margin-bottom: 1rem;
  border: solid 5px var(--naranja);
}

@media screen and (max-width: 768px) {
  #customer_experience {
    padding: 0.5rem;
  }

  figure.user_card h2 {
    padding: 0.5em;
  }

  figure.user_card {
    margin: 0.5rem;
    width: 30%;
    font-size: var(--tamaño_H5);
  }

  figure.user_card blockquote {
    padding: 4rem 1rem 3rem 2rem;
    margin-top: 0.5em;
  }
}

@media screen and (max-width: 480px) {
  #customer_experience {
    flex-direction: column;
    padding: 1rem;
  }

  figure.user_card {
    margin: 1.2rem;
    width: 95%;
  }

  figure.user_card blockquote {
    font-size: var(--tamaño_H5);
    margin-top: 8px;
  }
}

/* *** *** C O N T A C T O    Y    P R E S U P U E S T O *** *** */
/* FORMULARIOS */
form {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  padding: 3.5em 0;
  font-size: var(--tamaño_p);
  align-items: center;
  line-height: 4rem;
}

#contacto_txt,
#presupuesto_txt {
  line-height: 2.8rem;
  text-align: justify;
}

form h1 {
  color: var(--naranja);
}

form label {
  margin-top: 3%;
  margin-bottom: 1%;
  height: 5%;
  width: 60%;
}

form input,
#textarea {
  border: 1px solid var(--naranja);
  height: 5%;
  width: 60%;
  border-radius: 0.3em;
  box-shadow: 0em 0.2em 0.5em rgba(0, 0, 0, 0.5);
  padding: 0.2em;
}

form select {
  width: 60%;
  border: 1px solid var(--naranja);
  border-radius: 0.3em;
}

form button {
  font-size: var(--tamaño_H3);
  width: 12em;
  margin: 1em;
  padding: 0.3em;
  border: 0.1em solid var(--claro);
  border-radius: 0.5em;
  background-color: var(--naranja);
  color: #333333;
  font-weight: 900;
}

form input:focus,
#textarea:focus,
form select:focus {
  outline: none;
}

form input:valid,
#textarea:valid,
form select:valid {
  border: 0.2em solid green;
}

form input:invalid,
#textarea:invalid,
form select:invalid {
  border: 0.2em solid var(--naranja);
}

#contacto_disclaimer > p,
#presupuesto_disclaimer > p {
  font-size: var(--tamaño_H5);
  margin-top: 0.5rem;
  line-height: 2.3rem;
  font-style: italic;
}

@media screen and (max-width: 768px) {
  form {
    width: 80%;
    align-items: center;
    padding: 2.5em 0;
  }

  form label,
  form input,
  #textarea,
  form select {
    width: 80%;
  }
}

@media screen and (max-width: 480px) {
  #presupuesto_s1 h1,
  #contacto_s1 h1 {
    font-size: var(--tamaño_H2);
  }

  form {
    width: 90%;
    padding: 1.5em 0;
    align-items: flex-start;
    align-items: center;
  }

  form label,
  form input,
  #textarea,
  form select {
    width: 90%;
  }
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #ff6600;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #ff6600;
}

/* P O R T F O L I O */
#portfolio {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 2rem 0;
}

#portfolio_imagen {
  width: 0;
  height: 650px;
  flex-grow: 1;
  object-fit: cover;
  transition: flex 0.4s;
  &:hover{
    flex-grow: 2;
  }
}

/* Media Query para mostrar 3 imagenes del portfolio en version movil*/
@media screen and (max-width: 480px) {
  #portfolio {
    height: 100%;
  }

  #portfolio_imagen {
    height: 580px;
  }

  .no_mq {
    display: none;
  }
}

/* Backgrounds de contenidos*/
.presupuesto_bg {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(../img/back_presupuesto.avif), url(../img/back_presupuesto.webp);
}

.contacto_bg {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(../img/contacto_bg.avif), url(../img/contacto_bg.webp);
}

.nosotros_bg {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(../img/nosotros.avif), url(../img/nosotros.webp);
  background-position-y: center;
}

.portfolio_bg {
  background: linear-gradient(rgba(5, 7, 12, 0.75), rgba(5, 7, 12, 0.75)),
    url(../img/back_portfolio.avif), url(../img/back_portfolio.webp);
}

.presupuesto_bg,
.contacto_bg,
.nosotros_bg,
.portfolio_bg {
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

/* ---- S E R V I C I O S ---- */
#servicios {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  width: 60%;
  row-gap: 2rem;
  padding: 3rem 10rem;
}

.card1 {
  background: linear-gradient(rgba(5, 7, 12, 0.5), rgb(255, 102, 0, 0.35)),
    url(../img/servicios_img/impresion.avif),
    url(../img/servicios_img/impresion.webp);
  &:hover {
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgba(5, 7, 12, 0.35)),
      url(../img/servicios_img/impresion.avif)
      url(../img/servicios_img/impresion.webp);
  }
}

.card2 {
  background: linear-gradient(rgba(5, 7, 12, 0.5), rgb(255, 102, 0, 0.35)),
    url(../img/servicios_img/diseno.avif),
    url(../img/servicios_img/diseno.webp);
  &:hover {
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgb(5, 7, 12, 0.35)),
      url(../img/servicios_img/diseno.avif),
      url(../img/servicios_img/diseno.webp);
  }
}

.card3 {
  background: linear-gradient(rgba(5, 7, 12, 0.5), rgb(255, 102, 0, 0.35)),
    url(../img/servicios_img/tecnico.avif),
    url(../img/servicios_img/tecnico.webp);
  &:hover {
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgb(5, 7, 12, 0.35)),
      url(../img/servicios_img/tecnico.avif),
      url(../img/servicios_img/tecnico.webp);
  }
}

.card4 {
  background: linear-gradient(rgba(5, 7, 12, 0.5), rgb(255, 102, 0, 0.35)),
    url(../img/servicios_img/formacion.avif),
    url(../img/servicios_img/formacion.webp);
  &:hover {
    background: linear-gradient(rgba(5, 7, 12, 0.5), rgb(5, 7, 12, 0.35)),
      url(../img/servicios_img/formacion.avif),
      url(../img/servicios_img/formacion.webp);
  }
}

#seccion_servicios {
  display: grid;
  align-items: center;
  gap: 1.6rem;
  cursor: pointer;
  border: 0.4em solid var(--naranja);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.7);
  padding: 2rem;
  background-size: cover;
  color: var(--blanco);
  transition: 0.3s ease;
  
  &:hover {
    border: 0.4em solid var(--claro);
    box-shadow: 16px 16px 8px rgba(0, 0, 0, 0.7);
  }
}

#seccion_servicios a img {
  display: flex;
  border-radius: 2%;
  border: 0.6em solid var(--blanco);
  box-sizing: border-box;
}

#seccion_servicios p {
  grid-row: 2;
  grid-column: 2/3;
  font-size: var(--tamaño_p);
  line-height: 1.4;
  color: cornsilk;
}

#seccion_servicios h2 {
  grid-row: 1;
  grid-column: 1/3;
  color: coral;
}

@media screen and (max-width: 768px) {
  #servicios {
    width: 70%;
    row-gap: 2rem;
    padding: 2rem 7rem;
  }

  #seccion_servicios {
    padding: 1.4rem;
  }

  #seccion_servicios h2 {
    grid-row: 1;
    grid-column: 1;
  }

  #seccion_servicios a img {
    grid-row: 2;
    grid-column: 1;
  }

  #seccion_servicios p {
    grid-row: 3;
    grid-column: 1;
  }
}

@media screen and (max-width: 480px) {
  #servicios {
    width: 80%;
    row-gap: 2rem;
    padding: 1rem 3rem;
  }
}

/* ---- P O L I T I C A S ---- */

#politicas {
  box-sizing: content-box;
  background-color: #f9f9f9;
  color: #333;
  margin: 5rem;
  padding: 4rem 25rem;
  border-radius: 5px;
}

.titulo_politicas,
.fecha_actualizacion {
  color: var(--oscuro);
  text-align: center;
  padding: 1rem;
}

.titulo_seccion {
  color: #005a9c;
}

.descripcion_seccion,
.introduccion {
  margin-top: 0;
  line-height: 1.6;
  padding: 2rem;
  background-color: white;
  border-left: 4px solid #005a9c;
}

@media screen and (max-width: 768px) {
  #politicas {
    margin: 2rem;
    padding: 2rem 8rem;
  }
}

@media screen and (max-width: 768px) {
  #politicas {
    margin: 1rem;
    padding: 1rem 3rem;
  }
}
